.containercenter{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ligthgreen);

}

.Login {

  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 600px;

  h1 {
    color: var(--gray-100)
  }

  form{

    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
    

  }

  form button{

    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #32CD32;
    border: 0;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

  }

  form button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

}

.input{
  height: 40px;
  border: 2px solid var(--gray-100);
  padding:0 16px;
  border-radius: 5px;
  background-color: var(--gray-100);
  color: var(--white);
  font-size: 16px;

}

.input::placeholder{
  color: rgba(255, 255, 255, 0.700)
}

.text{
  color: var(--gray-100);
  text-decoration: none;
}

@media (max-width: 620px){
    .Login{
      width: 80%;
    }
}